  <div id="design-upload-page" class="container">
    <div id="file-upload-form">
      <%= form_for @new_design, :url => :uploaded_callback, :html => {:multipart => true} do |f| %>
        <div id="file-select-zone">
          <div id="file-selector">
            <div class="chosen-file hide">
              <%= image_tag "photoshop-file.png" %><span id="file-name">test.psd</span>
            </div>
            <div class="photo-upload-action">
              [+] Click to select your photoshop file
            </div>
            <%= f.hidden_field :file_url %>
            <%= f.hidden_field :name %>
          </div>
        </div>
        <button id="file-upload-submit" disabled="disabled">Get HTML <span class="ampersand">&</span> CSS »</button>
      <% end %>
    </div>
  </div>
  <%= javascript_include_tag "http://api.filepicker.io/v0/filepicker.js" %>
  <%= javascript_include_tag "app/upload" %>