<%= content_for :css do %>
  <%= stylesheet_link_tag "editor", :media => "all" %>
  <%= render "shared/templates" %>
<% end %>
<%= content_for :content do %>
<div class='editor-controls'>
  <div id='editor'>
  </div>
  <div class='grouptags'>
    <form>
      <div class='group-tags-block'></div>
      <button class='btn'>Group nodes</button>
    </form>
  </div>
  <div class='multiselect'>Multiselect enabled</div>
</div>
<div class='ide'>
  <iframe id='editor-iframe' src='about:blank'></iframe>
</div>
<% end %>

<%= content_for :javascript do %>
<%= javascript_include_tag "editor" %>
<% end %>
