<%= content_for :css do %>
  <%= stylesheet_link_tag "app/editor", :media => "all" %>
  <%= render "shared/templates" %>
<% end %>
<%= content_for :content do %>
<div id="editor-header">
</div>
</div>
<div id='editor-controls'>
  <div id='editor'>
  </div>
</div>
<div class='ide'>
  <iframe id='editor-iframe' src='about:blank'></iframe>
</div>
<% end %>

<%= content_for :javascript do %>
<%= javascript_include_tag "app/editor" %>
<% end %>
