<%= content_for :content do %>
  <%= render 'shared/header' %>
  <%= stylesheet_link_tag "app/login", :media => "all" %>
  <div class="container login-area">
    <div class="section-heading">
      Create new account
    </div>
    <div class="main-form">
      <%= render 'devise/shared/signup' %>
    </div>
    <div class="alt-separator">OR</div>
    <div class="secondary-form">
      <%= render 'devise/shared/google_connect' %>
    </div>
  </div>
  <%= render 'shared/footer' %>
<% end %>