<%= content_for :css do %>
  <%= stylesheet_link_tag "app/editor", :media => "all" %>
<% end %>

<%= content_for :javascript do %>
  <%= render "shared/templates" %>
  <script type="text/javascript">
    var design_data = <%= raw @design.json_data.to_json %>
  </script>
  <%= javascript_include_tag "app/css_markupwand_app" %>
  <%= javascript_include_tag "lib/bootstrap-editable.min" %>
  <%= javascript_include_tag "lib/jquery.Jcrop.min" %>

<% end %>


<%= content_for :content do %>
  <%= render 'shared/inner_header', :fluid => true %>
  <div id="editor-notifications"></div>
  <div id="app">
  </div>

  <div class="extra">
    <div id="layers"> </div>
    <div id="design-screenshot" style="display:none">
      <% if not @design.json_data[:sif].nil? and @design.status == Design::STATUS_EXTRACTING_DONE %>
        <img src="/extracted/<%= @design.safe_name %>/<%= @design.safe_name_prefix %>.png" id="design-canvas-image">
      <% end %>
    </div>
  </div>
<% end %>