<li class="design <%= design.vote_class %> ">
  <div class="row">
    <div class="span1 status <%= Design::STATUS_CLASS[design.status] %>"> <%= design.status %> </div>
    <div class="span4 name"> <a href="/design/<%= design.safe_name %>"> <%= design.name %> </a></div> 
    <div class="right span2"> <a href="/admin?user=<%= design.user.email %>"><%= design.user.email %></a></div> 
    <div class="right span3"> <%= time_ago_in_words(design.created_at) %> ago </div>
  </div>
  <div class="row">
    <div class="left btn-toolbar" style="margin-left: 20px">
      <div class="btn-group">
        <a class="btn btn-primary" target="_blank" href="/design/<%= design.safe_name %>"> View design </a>
        <a class="btn" target="_blank" href="/design/<%= design.safe_name %>/download-psd"> Download PSD</a>
      </div>
      <div class="btn-group">
        <a class="btn" target="_blank" href="/design/<%= design.safe_name %>/reprocess"> Reprocess</a>
        <a class="btn" target="_blank" href="/design/<%= design.safe_name %>/reextract"> Reextract </a>
      </div>

      <div class="btn-group">
        <a class="btn" target="_blank" href="/design/<%= design.safe_name %>/view-json"> View JSON </a>
      </div>
    </div>
  </div>
</li>