<%= stylesheet_link_tag "app/admin", :media => "all" %>
<div class="container">
  <div id="admin-header" class="tabbable">
    <ul class="nav nav-pills">
      <li><a href="/admin/"> Admin home </a> </li>
    </ul>
  </div>
  <div>
    <%= form_tag("/admin", :method => :get) do %>
      <%= label_tag(:user, "Email:") %>
      <%= text_field_tag(:user, "#{params[:user]}") %>
      <%= submit_tag("Search by User", :class => "btn btn-primary") %>
    <% end %>
  </div>
</div>