<%= content_for :content do %>
<%= render 'shared/header' %>
<%= render 'admin/header' %>
  <%= form_tag "/admin/download-psd" do %>
  <div id="designs-list-page" class="container admin-container">
  <%= form_tag('/admin/download-psd-direct', :class=> 'form-horizontal') do %>
    <fieldset>
      <legend>Download PSD</legend>
      <div class="control-group">
        <label class="control-label" for="input01">Design ID</label>
        <div class="controls">
          <input type="text" class="input-xlarge" name="id">
          <button class="btn btn-primary" > <i class="icon-download"></i> Get Download Link </button>
        </div>
       </div>
    </fieldset>
  <% end %>
  </div>
  <% end %>
<% end %>