<%= content_for :content do %>
<%= render 'shared/header' %>
<%= render 'admin/header' %>
<div class="admin designs-list-page container">
  <% @results_data.each do |key, value| %>
  <%= key %>: <b> <%= value %> </b> <br>
  <% end %>
  <%= paginate @designs %>
  <ul>
    <% @designs.each do |design| %>
      <%=  render :partial => "design_item", :locals => {:design => design} %>
    <% end %>
  </ul>
</div>
<script type="text/javascript">
$('.history-trigger').click(function(e) {
	var table = $(this).attr('id').replace('-history-trigger', '-history');
	$('#' + table).toggle()
	return false;
})
</script>
<% end %>