<%= content_for :content do %>
<%= render 'shared/header' %>
<%= render 'admin/header' %>
<div class="admin designs-list-page container">
  <ul>
    <% if @design_by_id %>
      lala
      <%=  render :partial => "design_item", :locals => {:design => @design_by_id} %>
    <% else %>    
      <%= paginate @designs %>
      <% @designs.each do |design| %>
        <%=  render :partial => "design_item", :locals => {:design => design} %>
      <% end %>
    <% end %>
  </ul>
</div>
<% end %>