<div id="designs-list-page" class="container">
  <h2> Your photoshop designs </h2>
  <ul>
    <% @designs.each do |design| %>
      <li>
        <div class="design">
          <div class="center">
            <div class="name">
              <a href="/design/<%= design.safe_name %>" title="<%= design.name %>">  <%= DesignsHelper::short_form(design.name, 20) %> </a> <br>
            </div>
          </div>
          <div class="image center">
            <a href="/design/<%= design.safe_name %>"><img src="/processed/<%= design.safe_name %>/<%= File.basename design.psd_file_path, '.psd' %>-thumbnail.png" class="preview-thumbnail"/></a>
            <div class="<%= @status_class[design.status.to_sym] %>">
              <%= DesignsHelper::status_display_name  design.status %>
            </div>
          </div>

          <div class="center">
            <a class="btn btn-success" href="/design/<%= design.safe_name %>/edit"> Edit </a>
            <a class="btn btn-primary" href="/design/<%= design.safe_name %>/preview"> Preview </a>
            <% if current_user.admin %>
              <a class="btn btn-warning" href="/published/<%= design.safe_name %>/index.html"> Popout </a>
              <a class="btn btn-danger" href="/design/<%= design.safe_name %>/delete"> Delete </a>
            <% end %>
          </div>
          <div class="center">
            <small> Uploaded <%= design.created_at.to_formatted_s(:short) %> </small>
          </div>
          <div class="clearfix"></div>
        </div>
    <% end %>
    </li>
  </ul>
</div>