<div id="designs-list-page" class="container">
  <h2> Your photoshop designs </h2>
  <ul class="row">
    <% @designs.each do |design| %>
      <li class="pull-left">
        <div class="design">
          <div class="center">
            <div class="name">
              <a href="/design/<%= design.safe_name %>" title="<%= design.name %>">  <%= DesignsHelper::short_form(design.name, 20) %> </a> <br>
            </div>
          </div>
          <div class="image center">
            <a href="/design/<%= design.safe_name %>"><div style="background-image: url('/extracted/<%= design.safe_name %>/<%= Store::get_safe_name File.basename(design.psd_file_path) %>-thumbnail.png')" class="preview-thumbnail"></div></a>
            <div class="<%= @status_class[design.status.to_sym] %>">
              <%= DesignsHelper::status_display_name  design.status.to_sym %>
            </div>
          </div>
          <div class="center">
            <% if (Time.now - design.created_at) < (3600*24) %>
            <small> Uploaded <%= time_ago_in_words(design.created_at) %> ago </small>
            <% else %>
            <small> Uploaded on <%= design.created_at.to_formatted_s(:short) %> </small>
            <% end %>
          </div>
          <div class="clearfix"></div>
          <% if @user.admin %>
            <a class="btn" href="/design/<%= design.safe_name %>/preview"> Preview </a>
          <% end %>
        </div>
    <% end %>
    </li>
  </ul>
</div>