<%= content_for :css do %>
  <%= stylesheet_link_tag "app/editor", :media => "all" %>
  <%= render "shared/templates" %>
<% end %>
<%= content_for :content do %>
<div id="editor-header" class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="action row center">
      <div class="forward right"> 
        <a class="btn btn-large btn-warning" href="/design/<%= @design.safe_name %>/preview/"> Preview → </a> 
      </div>
      <div class="back left"> <a class="btn btn-large btn-warning" href="/design/<%= @design.safe_name %>/">  ← Back to Design Page </a></div>
      <div class="name"><small> Design: </small><%= @design.name %> </div>
    </div>
  </div>
  <div class = "clearfix"> </div>
</div>
<div id='editor-controls'>
  <div id="editor">
    <div id="css_editor">
      <%= form_tag "/design/#{@design.safe_name}/save_class" do %>
      <div class="save-wrapper">
        <input type="submit" class="saveclasses btn btn-success" name="save_classes"  value="Save classes">
      </div>
      <ul>
        <% @selector_name_map.each do |selector, modified_selector| %>
        <li>
          <input tabindex="1"  type="text" name="class_map['<%= selector %>']" data-original="<%= modified_selector['name'] %>" value="<%= modified_selector['name'] %>">
          <pre>  <%= CssParser::to_style_string(modified_selector['css']) %></pre>
        </li>
        <% end %>
      </ul>
      <div class="save-wrapper">
        <input type="submit" class="saveclasses btn btn-success" name="save_classes"  value="Save classes">
      </div>
      <% end %>
    </div>
  </div>
</div>
<div class='ide'>
  <iframe id='editor-iframe' src='/generated/<%= @design.safe_name %>/index.html' onload="parent.iframeLoaded();"></iframe>
</div>
<% end %>

<%= content_for :javascript do %>
<%= javascript_include_tag "app/edit_class" %>
<% end %>
