<%= content_for :css do %>
  <%= stylesheet_link_tag "app/editor", :media => "all" %>
<% end %>

<%= content_for :javascript do %>
  <%= render "shared/templates" %>
  <script type="text/javascript">
    var design_data = <%= raw @design.json_data.to_json %>
  </script>
  <%= javascript_include_tag "app/editor_app" %>
<% end %>


<%= content_for :content do %>
  <div id="editor-notifications"></div>
  <div class="contents">
    <div class="navbar">
      <div id="top-bar" class="navbar-inner">
      </div>
    </div>
    <div id="app">
      <div id="right-sidebar"> </div>
      <div id="editor" style="height: <%= (@height + 42) %>px">
        
        <canvas id="design-canvas" height="<%= @height %>" width="<%= @width %>"></canvas>
        <canvas id="animate-canvas" height="<%= @height %>" width="<%= @width %>" style="pointer-events: none;"></canvas>
        <canvas id="events-canvas" height="<%= @height %>" width="<%= @width %>" style="pointer-events: none;"></canvas>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
  <div class="extra">
    <div id="layers"> </div>
    <div id="design-images" style="display:none">
      <% @design.json_data[:sif][:layers].each do |layer| %>
        <% if layer[:type] == 'normal' %>
          <img src="/extracted/<%= @design.safe_name %>/assets/images/<%= layer[:image_name] %>" id="<%= layer[:uid] %>">
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>