<%= content_for :css do %>
  <%= stylesheet_link_tag "app/editor", :media => "all" %>
<% end %>
<%= content_for :content do %>

<div id="editor-header" class="small-header navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="action row center">
      <div class="right">
        <div class="name"><small> Design: </small><%= @design.name %> </div>
      </div>

      <span class="left btn-group">
        <a href="/designs" class="btn btn-large"><i class="icon-home icon-white"></i></a>
        <a class="btn btn-large" href="/design/<%= @design.safe_name %>/">  ← Back to Design Page </a>
        <a class="btn btn-large btn-primary" href="/design/<%= @design.safe_name %>/preview/"> 
          <i class="icon-zoom-in icon-white"> &nbsp;</i> Preview
        </a>
      </span> 
    </div>
  </div>
  <div class = "clearfix"> </div>
</div>

<script type="text/javascript">
Design = {}
Design.grid = <%= raw @grids.to_json %>;
Design.layer = <%= raw @layers.to_json %>;
Design.unsaved_changes = false;
</script>
<div id="edit-panel">
  <h3><i class="icon-edit"></i> Edit Properties</h3>
  <!-- div id="tag-editor" class="edit-block">
    <h4> Tag names </h4>
    <div class="edit-block-bd">
      <select id="tag-chooser">
        <option value="nil"></option>
        <option value="div">&lt;div&gt;</option>
        <option value="a">&lt;a&gt; (Link)</option> 
        <option value="h1">&lt;h1&gt; (Heading level 1)</option>
        <option value="h2">&lt;h2&gt; (Heading level 2)</option>
        <option value="h3">&lt;h3&gt; (Heading level 3)</option>
        <option value="h4">&lt;h4&gt; (Heading level 4)</option>
        <option value="img">&lt;img&gt; (Image container)</option>
        <option value="span">&lt;span&gt; (Span)</option>
      </select>
      <div class="alert">Press <span class="label label-warning">TAB</span></div>
    </div>
  </div-->

  <div class="alert alert-info">Click elements on left side to edit class names</div>

  <div id="class-editor" class="edit-block">
    <h4>Class Names</h4>
    <div class="edit-block-hd">
      <input type="text" id="class-chooser" class="big-box">
    </div>
  </div>


  <div id="css-editor" class="edit-block">
    <h4>Alignment</h4>
    <div class="edit-block-bd">
      <label for="center-align">
      <input type="checkbox" name="center-align" id="center-align"> 
      Center align
      </label>
    </div>
  </div>



  <div class="hide alert alert-danger" id="unsaved-changes">
    You have unsaved changes. Hit save.
  </div>
  
  <%= form_tag "/design/#{@design.safe_name}/save_edits" do %>
    <input type="hidden" name="dom_json" id="dom_json" value="">
    <input type="submit" class="saveclasses btn btn-primary" name="save_classes"  value="Save classes">
  <% end %>
</div>

<div class='ide'>
  <iframe id='editor-iframe' src='/generated/<%= @design.safe_name %>/index.html' onload="parent.iframeLoaded();"></iframe>
</div>
<% if @design.class_edited == false %>
<div class="modal hide" data-backdrop="true" id="widget-class-name">
  <%= form_tag "/design/#{@design.safe_name}/save_widget_name" do %>
  <div class="modal-header">Name this widget</div>
  <div class="modal-body">
    <input type="text" name="widget_name" id="widget-name" placeholder="signup-block">
    <p> This will be used as the class name for the widget</p>
    <input type="submit" class="btn btn-primary" value="Save" />
  </div>
  <% end %>
</div>
<% end %>
<% end %>

<%= content_for :javascript do %>
<%= javascript_include_tag "app/edit" %>
<%= javascript_include_tag "bootstrap-typeahead" %>
<% end %>