<%= content_for :css do %>
  <%= stylesheet_link_tag "app/editor", :media => "all" %>
  <%= render 'shared/header' %>

  <%= render "shared/templates" %>
<% end %>
<%= content_for :content do %>
<%= render 'shared/header' %>
<div id="editor-header" class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="action row center">
      <div class="forward right"> 
        <a class="btn btn-large btn-warning" href="/design/<%= @design.safe_name %>/preview/"> Preview → </a> 
      </div>
      <div class="back left"> <a class="btn btn-large btn-warning" href="/design/<%= @design.safe_name %>/">  ← Back to Design Page </a></div>
      <div class="name"><small> Design: </small><%= @design.name %> </div>
    </div>
  </div>
  <div class = "clearfix"> </div>
</div>
<div id='editor-controls'>
  <div id='editor'>
  </div>
</div>
<div class='ide'>
  <iframe id='editor-iframe' src='/generated/<%= @design.safe_name %>/index.html'></iframe>
</div>
<% end %>

<%= content_for :javascript do %>
<script type="text/javascript">
var design = <%= raw(@design.attribute_data.to_json) %>;
Analytical.track("design_edit_page");
</script>
<%= javascript_include_tag "app/editor" %>
<% end %>
