<%= content_for :css do %>
  <%= stylesheet_link_tag "app/editor", :media => "all" %>
  <%= render "shared/templates" %>
<% end %>
<%= content_for :content do %>
<div id="editor-header" class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="action row center">
      <div class="forward right"> 
        <a class="btn btn-large btn-warning" href="/design/<%= @design.safe_name %>/preview/"> Preview → </a> 
      </div>
      <div class="back left"> <a class="btn btn-large btn-warning" href="/design/<%= @design.safe_name %>/">  ← Back to Design Page </a></div>
      <div class="name"><small> Design: </small><%= @design.name %> </div>
    </div>
  </div>
  <div class = "clearfix"> </div>
</div>
<div id='editor-controls'>
  <div style="text-align:center;">
    <div class="saveclasses btn btn-success"> Save classes </div>
  </div>
  <div id='editor'>
    <div class="accordion" id="class-edit-accordion">
      <form>
        <%= @selector_name_map.each do |selector, modified_selector| %>
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#class-edit-accordion" href="#<%= selector %>">
              <input tabindex="2"  type="text" name="<%= selector %>" data-original="<%= modified_selector %>" value="<%= modified_selector %>">..
            </a>
          </div>
          <div id="<%= selector %>" class="accordion-body collapse" style="height: 0px; ">
            <div class="accordion-inner">
              <pre class="prettyprint">
{
  position: relative;
  padding-top: 90px;
  background-color: white;
  background-image: url(../img/grid-18px-masked.png);
  background-repeat: repeat-x;
  background-position: 0 40px;
}
              </pre>
            </div>
          </div>
        </div>
        <% end %>

      </form>
    </div>
  </div>
</div>
<div class='ide'>
  <iframe id='editor-iframe' src='/generated/<%= @design.safe_name %>/index.html'></iframe>
</div>
<% end %>

<%= content_for :javascript do %>
<script type="text/javascript">
/* Get the current class mappings here*/
var class_mappings = {'a' : 'b', 'c' : 'd'};
</script>
<%= javascript_include_tag "app/edit_class" %>
<% end %>
