<%= content_for :content do %>
  <%= stylesheet_link_tag "app/fonts", :media => "all" %>
  <%= render 'shared/header' %>
  <div class="font-box" class="container">
    <h2>Fonts for <%= @design.name %></h2>

    <div class="container missing-fonts">
    <h3>Missing fonts</h3>
      <%= form_tag "/design/#{@design.safe_name}/fonts_upload" do %>
      <table>
      <% @missing_fonts.each do |font| %>
        <% font_safe = font.gsub(' ','-') %>
        <tr>
          <td> <%= font %> </td>
          <td> <a target="_new" href="http://google.com/search?q=<%= font.gsub(' ','+') %> ttf" class="google">(google)</a> </td>
          <td>
            <input type="button" class="btn upload-font-button" value="choose font" id="<%= font_safe %>-button" name="font['<%= font %>']-button" />
            <input type="hidden" name="font['<%= font %>']" id="<%= font_safe %>-url" value=""/>
            <span class="font-upload-name" id="<%= font_safe %>-name"></span>
          </td>
        </tr>
      <% end %>
      </table>
      <input type="submit" name="save_fonts" value="Upload fonts" class="btn btn-primary"/>

      <% end %>
    </div>
  </div>
  <%= javascript_include_tag "http://api.filepicker.io/v0/filepicker.js" %>
  <%= javascript_include_tag "app/fonts" %>
<% end %>