<%= content_for :javascript do %>
  <script type="text/javascript">
    window.design_name = "<%= @design.safe_name %>";
  </script>
  <%= javascript_include_tag "app/images" %>
<% end %>

<%= content_for :content do %>
  <%= render 'shared/header' %>
  <div class="container content-area-box" id="images-editor">
    <div class="row back-to-design">
      <div class="span5">
          <a class="btn pull-left back" href="/design/<%= @design.safe_name %>">← Back to Design page</a>
      </div>
    </div>

    <% if @success %>
    <div class="alert alert-success">
      Successfully renamed <%= @renamed_files.join "," %>
    </div>
    <% end %>
    <% i = 0 %>
    <%= form_tag("/design/#{@design.safe_name}/images", :method => "post") %>
      <div class="row">
        <% @design.layers.each do |uid, layer| %>
          <% if layer.type == Layer::LAYER_NORMAL %>
            <% i = i + 1 %>
            <div class="span2 imageblock">
              <div class="layer-image">
                <div style="background-image: url('/published/<%= @design.safe_name %>/<%= layer.image_path %>')" class="preview-thumbnail"></div>
              </div>

              <div class="layer-name input-append">
                <input type="text" data-original-image-name="<%= layer.image_name(false) %>" data-original-id="<%= layer.uid %>" value="<%= layer.image_name(false) %>">
                <span class="add-on">.png</span>
              </div>
            </div>
            <% if (i % 5) == 0 %>
              </div>
              <div class="row">
            <% end %>
          <% end %> 
        <% end %>
      </div>
    </form>
  </div>
<% end %>