<%= content_for :content do %>
  <%= render 'shared/header' %>

  <div id="designs-list-page" class="container">
    <h2> Your photoshop designs </h2>
    <ul>
      <% @designs.each do |design| %>
      <li>
        <div class="design row"> 
          <div class="span7">
            <div class="name">
              <a href="/design/<%= design.safe_name %>">  <%= design.name %> </a>
            </div> 

          </div>
          <div class="span2 right">
            <small><%= design.created_at.to_formatted_s(:short) %> </small>
          </div>
          <div class="clearfix"> </div>
        </div>
        <% end %>
      </li>
    </ul>
  </div>
<% end %>
