<%= content_for :content do %>
  <%= render 'shared/header' %>
  <%= render 'design/upload' %>
  <% if @designs.empty? %>
    <%= render 'design/widgets/view_tutorial_new_user' %>
  <% else %>
    <%= render 'design/widgets/view_tutorial_existing_user' %>
    <%= render 'design/gallery' %>
  <% end %>
  <%= render 'shared/footer' %>
<% end %>

<%= content_for :admin_content do %>
  <div id="admin-content">
    <small> These buttons will rerun stuff for all your designs</small>
    <a class="btn btn-large btn-danger" href="/user/reprocess"> Reprocess PSD</a>
    <a class="btn btn-large btn-danger" href="/user/reparse"> Reparse Grids</a>
    <a class="btn btn-large btn-danger" href="/user/regenerate"> Regenerate HTML </a>
  </div>
<% end %>
