<%= content_for :content do %>
  <%= render 'shared/header' %>

  <div id="designs-list-page" class="container">
    <h2> Your photoshop designs </h2>
    <ul>
      <% @designs.each do |design| %>
      <li>
        <div class="design row"> 
          <div class="left">
            <div class="name">
              <a href="/design/<%= design.safe_name %>">  <%= design.name %> </a> <br>
            </div> 
          </div>
          <div class="left">
            <small> Uploaded <%= design.created_at.to_formatted_s(:short) %> </small>
          </div>
          <div class="right">
            <a class="btn btn-success" href="/design/<%= design.safe_name %>"> Edit </a>
            <a class="btn btn-primary" href="/design/<%= design.safe_name %>"> Preview </a>
          </div>
          <div class="clearfix"> </div>
        </div>
        <% end %>
      </li>
    </ul>
  </div>
<% end %>
