<%= content_for :content do %>
  <%= render 'shared/inner_header' %>
  <div id="designs" class="container-narrow">
    <div id="upload-area">
      <div class="center">
        <a id="upload-design" href="#" class ="btn btn-large btn-success">
          <i class="icon-big-upload"> </i> Upload a Photoshop design 
        </a>
      </div>
      <% if @designs.empty? %>
      <div class="instructions">
        <ul>
          <li> <span class="badge badge-info">Step 1</span> Upload a photoshop design to begin.</li>
          <li> <span class="badge badge-info">Step 2</span> Wait for couple of minutes for the design to be processed </li>
          <li> <span class="badge badge-info">Step 3</span> Once the file is processed, you can
            <ul> 
              <li><span class="badge badge-success"> 1 </span> View the styles for each layer by clicking them</li>
              <li><span class="badge badge-success"> 2 </span> Measure widths and heights using measure tool </li>
              <li><span class="badge badge-success"> 3 </span> View, rename, crop and download images </li>
            </ul>
          </li>
        </ul>
      </div>
      <% end %> 
    </div>
    <div id="designs-area"> 
      <% if not @designs.empty? %> 
      <h2> Your Designs </h2>
      <div class="row">
        
        <% @designs.first(8).each do |design| %>
        <div class="span2">
          <div class="design">
            <a href="/design/<%= design.safe_name %>" title="<%= design.name %>">
              <div class="name"><%= DesignsHelper::short_form(design.name, 20) %> </div>
              <div style="background-image: url('/extracted/<%= design.safe_name %>/<%= Store::get_safe_name File.basename(design.psd_file_path) %>-thumbnail.png')" class="thumbnail"></div>
            </a>
            <div class="center">
              <% if (Time.now - design.created_at) < (3600*24) %>
              <small> Uploaded <%= time_ago_in_words(design.created_at) %> ago </small>
              <% else %>
              <small> Uploaded on <%= design.created_at.to_formatted_s(:short) %> </small>
              <% end %>
            </div>
          </div>
        </div>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
  <aside id="file-type-error-popup" title="Invalid File chosen!">
    The chosen file was not a Photoshop design. <br> Please upload a photoshop design!
  </aside>

<% end %>

<%= content_for :javascript do %>
  <%= javascript_include_tag "https://api.filepicker.io/v0/filepicker.js" %>
  <%= javascript_include_tag "app/upload" %>
<% end %>