<%= content_for :content do %>
<%= render 'shared/header' %>
<div id="editor-header" class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="action row center">
      <div class="right">
        <div class="name"><small> Design: </small><%= @design.name %> </div>
      </div>
      <div class="left">
        <a href="/designs" class="btn btn-large"><i class="icon-home"></i></a>
        <a class="btn btn-large" href="/design/<%= @design.safe_name %>/edit">
          <i class="icon-pencil"> &nbsp;</i> Edit  
        </a>
        <a href="/design/<%= @design.safe_name %>/download" class="btn btn-large btn-primary"> 
          ↓ Download Markup
        </a>
        <a href='<%= "/published/#{@design.safe_name}/index.html" %>' class="btn btn-large" target="_blank">
          ➚ View as Separate Page
        </a>
        <% if current_user.admin? %>
          <a href="/design/<%= @design.safe_name %>/download-psd" id="" class="btn btn-large btn-secondary">
            Download PSD
          </a>
          <a href="#" id="design-preview-button" class="btn btn-large btn-secondary forward">
            View Design
          </a>
          
          <span class="btn-group vote-actions">
              <button class="btn btn-success"><a href="/design/<%= @design.safe_name %>/set-rating?rate=true">
                <i class="icon-thumbs-up"></i>        
              </a></button>
    
              <button class="btn btn-danger"><a href="/design/<%= @design.safe_name %>/set-rating?rate=false">
                <i class="icon-thumbs-down"></i>
              </a></button>
          </span>


            <span>Current:
            <% if @design.rating == true %>
              <span class="label label-success">Good conversion</span>
            <% elsif @design.rating == false %>  
              <span class="label label-important">Bad conversion</span>
            <% end %>

            </span>
          </span>

          <script>
            $('#design-preview-dialog').dialog({ autoOpen: false, position: [960, 70],  width: "960"})
            $('#design-preview-button').click(function(){
              $("#design-preview-dialog").dialog("open");
            });
          </script>
        <% end %>
      </div>
    </div>
  </div>
  <div class = "clearfix"> </div>
  <% if @design.font_map.missing_fonts.length > 0 %>
    <div class="font-error alert alert-error">
    We couldn't find few of your fonts. <a href="/design/<%= @design.safe_name %>/fonts">Upload your fonts</a> for better results
    </div>
  <% end %>
</div>
<iframe id="preview-iframe" src='<%= "/published/#{@design.safe_name}/index.html" %>'></iframe>
<% end %>
<%= content_for :javascript do %>
<script type="text/javascript">
Analytical.track("design_preview_page");
</script>
<% end %>
<%= content_for :admin_content do %>
<div id="design-preview-dialog">
  <img src="/processed/<%= @design.safe_name %>/<%= File.basename @design.psd_file_path, '.psd' %>.png"/>
</div>
<% end %>