<%= content_for :content do %>
<div id="editor-header" class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="action row center">
      <div class="forward right">
        <a href="/design/<%= @design.safe_name %>/download" id="update-markup" class="btn btn-large btn-success forward"> 
          ↓ Download Markup
        </a>
      </div>
      <div class="left back">
        <a class="btn btn-large btn-warning" href="/design/<%= @design.safe_name %>/edit">  ← Edit some more! </a>
      </div>
      <div class="name"><small> Design: </small><%= @design.name %> </div>
    </div>
  </div>
  <div class = "clearfix"> </div>
</div>

<iframe id="preview-iframe" src='<%= "/published/#{@design.safe_name}/index.html" %>'></iframe>
<% end %>

<%= content_for :javascript do %>
<script type="text/javascript">
  var designs = <%= raw @design_data.to_json %>;
</script>
<% end %>
