<%= content_for :content do %>
<div id="preview-header" class="small-header navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="action row center">
      <div class="right">
        <div class="name"><small> Design: </small><%= @design.name %> </div>
      </div>
      <div class="left">
        <span class="left btn-group">
          <a href="/designs" class="btn btn-large"><i class="icon-home icon-white"></i></a>
          <a class="btn btn-large" href="/design/<%= @design.safe_name %>/edit">
            <i class="icon-pencil icon-white"> &nbsp;</i> Edit
          </a>
          <a href="/design/<%= @design.safe_name %>/download" class="btn btn-large btn-primary"> 
            ↓ Download Markup
          </a>
          <a href='<%= "/published/#{@design.safe_name}/index.html" %>' class="btn btn-large" target="_blank">
            ➚ Popout
          </a>
        </span>

        <% if current_user.admin? %>
          <span class="left btn-group">
            <a href="/design/<%= @design.safe_name %>/download-psd" id="" class="btn btn-large btn-secondary">
              Download PSD
            </a>
            <a href="#" id="design-preview-button" class="btn btn-large btn-secondary forward">
              View Design
            </a>
          </span>

          <span class="left btn-group vote-actions">

              <% if not @prev.nil? %>
              <a id="prev-button" class="btn" href="/design/<%= @prev.safe_name %>/preview" >
                <i class="icon-arrow-left icon-white"></i>              
              </a>
              <% end %>
              
              <a id="like-button" class="btn btn-success" href="/design/<%= @design.safe_name %>/set-rating?rate=true">
                <i class="icon-thumbs-up icon-white"></i>
              </a>
              
              <a id="dislike-button" class="btn btn-danger" href="/design/<%= @design.safe_name %>/set-rating?rate=false">
                <i class="icon-thumbs-down icon-white"></i>
              </a>

              <% if not @next.nil? %>
              <a class="btn" id="next-button" href="/design/<%= @next.safe_name %>/preview" >
                <i class="icon-arrow-right icon-white"></i>              
              </a>
              <% end %>
          </span>

          <span class="left btn-group">
              <%= form_tag "/admin/save_tag", :class => 'tag_form' do %>
              <span class="input-append">
                <%= hidden_field_tag 'redirect_url', url_for(params) %>
                <%= hidden_field_tag 'design_id', @design.id %> 
                <%= text_field_tag "tag_list", @design.tag_list, :class => 'tag_list span2' %>
                <%= submit_tag "Update tag", :class => 'update_tag btn' %>
              </span>
              <% end %>
          </span>


            <span>
            <% if @design.rating == true %>
              <span class="label label-success">Good conversion</span>
            <% elsif @design.rating == false %>  
              <span class="label label-important">Bad conversion</span>
            <% end %>
            </span>
          </span>

          <script>
            $('#design-preview-dialog').dialog({ autoOpen: false, modal: true, width: "1200", height: "700", position: "center"});
            var designToggleView = function(event) {
              if($("#design-preview-dialog").dialog("isOpen"))
                $("#design-preview-dialog").dialog("close");
              else
                $("#design-preview-dialog").dialog("open");
            }
            $('#design-preview-button').click(designToggleView);


            Mousetrap.bind('j', function() {
             document.location = $('#next-button').attr('href')
            });

            Mousetrap.bind('k', function() {
             document.location = $('#prev-button').attr('href')
            });
         
            Mousetrap.bind('l', function() {
             document.location = $('#like-button').attr('href');
            });
         
            Mousetrap.bind('t', function() {
             $('.tag_list').focus();
            });
         
            Mousetrap.bind('h', function() {
             document.location = $('#dislike-button').attr('href')
            });

            Mousetrap.bind('v', designToggleView);

          </script>
        <% end %>
      </div>
    </div>
  </div>
  <div class = "clearfix"> </div>
  <!-- FIXME PSDJS -->
  <% if false and @design.font_map.missing_fonts.length > 0 %>
    <div class="font-error alert alert-error">
    We couldn't find few of your fonts. <a href="/design/<%= @design.safe_name %>/fonts">Upload your fonts</a> for better results
    </div>
  <% end %>
</div>
<iframe id="preview-iframe" src='<%= "/published/#{@design.safe_name}/index.html" %>'></iframe>
<% end %>
<%= content_for :admin_content do %>
<div id="design-preview-dialog">
  <img src="/extracted/<%= @design.safe_name %>/<%= File.basename @design.psd_file_path, '.psd' %>_psd.png"/>
</div>
<% end %>
