<%= content_for :content do %>
<div class="container-narrow">
  <%= render 'shared/header' %>
  <div id="design">
  </div>
</div>
<div class="clearfix"> </div>

<script type="text/javascript">
  var design_data = <%= raw @design.json_data.to_json %>;
</script>
<% end %>

<%= content_for :javascript do %>
  <%= javascript_include_tag "app/design" %>
<% end %>