<%= content_for :content do %>
  <%= render 'shared/header' %>
  <div id="design-page" class="container">
    <h2> Design: <%= @design.name %></h2>
    
    <div class="design">

      <div class="completed-box <%= 'hide' if not @completed %>">
        <div style="font-size: 18px; margin: 20px;"> 
          Uploaded on <%= @design.created_at.to_formatted_s(:short) %> <br>
          Status: Completed
        </div>
        
        <div style="text-align: center; font-size: 18px; margin: 20px">
          <a class="btn btn-large btn-primary" href="/design/<%= @design.safe_name %>/edit/#/dom"> Edit </a>
          <a class="btn btn-large btn-warning" href="/design/<%= @design.safe_name %>/preview"> Preview </a>
          <a href="/design/<%= @design.safe_name %>/download" class="btn btn-large btn-success"> ↓ Download Markup</a>
        </div>
      </div>
        

      <% if @design.pre_processed %>
      <div class="design-thumbnail">
        <img src="/processed/<%= @design.safe_name %>/<%= File.basename @design.psd_file_path, '.psd' %>-fixed.png"/>
      </div>
      <% end %>
    
      <div class="status-box">
        <% if not @completed %>
        <h3 id="design-status"> <%=  @design.status %>...</h3>
        <img class="loading" src="/assets/loading-ninja.gif">
        <div>You can close this page, we'll send an email to <%= @user.email %> once your page is ready</div>
        <% end %>
      </div>
    </div>
  </div>
  
  <script type="text/javascript">
    var design_id = '<%=  raw @design.safe_name %>';
    <% if @design.status == Design::STATUS_COMPLETED %>
    var design = <%= raw @design.attribute_data(true).to_json %>;
    <% else %>
    var design = null;
    <% end %>
  </script>
<% end %>

<%= content_for :javascript do %>
  <%= javascript_include_tag "app/design" %>
<% end %>


<%= content_for :admin_content do %>
<div id="admin-content">
  Admin Actions: 
  <a class="btn btn-large btn-danger" href="/design/<%= @design.safe_name %>/reprocess"> Reprocess PSD </a>
  <a class="btn btn-large btn-danger" href="/design/<%= @design.safe_name %>/reparse"> Reparse grids </a>
  <a class="btn btn-large btn-danger" href="/design/<%= @design.safe_name %>/regenerate"> Regenerate HTML </a>
  
  <br>  
  <a class="btn btn-large btn-success" href="/design/<%= @design.safe_name %>/view-logs"> View Logs </a>
  <a class="btn btn-large btn-success" href="/design/<%= @design.safe_name %>/view-dom"> View DOM </a>
  <a class="btn btn-large btn-success" target="_new" href="/design/<%= @design.safe_name %>/view-json"> View Json</a>
</div>
<% end %>
