<%= content_for :content do %>

<%= stylesheet_link_tag "app/login", :media => "all" %>
<%= render 'shared/header_small' %>

<div class="container-extra-narrow colored">

  <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :class => 'form-signin',:method => :post }) do |f| %>
    <%= devise_error_messages! %>

    <%= f.email_field :email, :placeholder => 'your email address', :class => 'input-block-level' %>

    <div><%= f.submit "Send me reset password instructions", :class => 'btn btn-success' %></div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
<% end %>