<script id="loading-template" type="text/template">
 <div class="loading">
  <img src="/assets/loading.gif"> <br \>
  <i> Processing the file. This could take a couple of minutes</i>
</script>

<script id="images-loading-template" type="text/template">
 <div class="loading">
  <img src="/assets/loading.gif"> <br \>
  <i> Processing images could take a little longer... Meanwhile checkout <a href="#styles"> CSS styles tab</a>!</i>
</script>


<script id="layers-view-template" type="text/template">
  <div id="topbar">
    <div class="design-name pull-right">
      Design: <%= @design.name %>
    </div>
    <ul class="nav nav-tabs">
      <li class="active"><a href="#styles"> CSS Styles</a></li>
      <li><a href="#images">Images</a></li>
    </ul>
    <div class="clearfix"></div>
  </div>

  <div id="content">
  </div>
</script>

<script id="styles-view-template" type="text/template">
  <div id="action-bar" class="btn-toolbar">
      <div id="zoom" class="btn-group">
        <button class="btn" data-zoom-size=100><i class="icon-resize-full"></i> Actual</button>
        <button class="btn" data-zoom-size=-1><i class="icon-resize-small"></i> Fit </button>
        <div class="btn "><i class="icon-zoom-out"></i> <div id="zoom-slider"></div> <i class="icon-zoom-in"></i></div>
      </div>

      <div class="btn-group">
        <button class="btn" id="measureit" data-toggle="false"><img src="/assets/ruler.png" > Measure </button>
      </div>

      <div class="pull-right">
        <button id="tour" class="btn btn-info"> See 10 seconds tour </button>
      </div>
    <div class="clearfix"></div>
  </div>
  <div class="row-fluid">
    <div class="pull-left" id="editor"></div>
    <div class="pull-left" id="sidebar">
      <div class="sidebar">
        <div class="code-area">
          <ul class="nav nav-pills">
            <li class="active"> <a href="#scss" data-lang="scss"> SCSS </a></li>
            <li> <a href="#" data-lang="css"> CSS </a></li>
            <li class="pull-right"> 
              <a id="copy-to-clipboard" class="btn btn-mini" href="#"> 
                <i class="icon-clipboard"> </i>Copy to clipboard 
              </a>
            </li>
          </ul>
          <textarea></textarea>
          <div class="play-area">
            <div id="play-box">
              Play Content
            </div>
          </div>
        </div>

        <div class="image-area">

        </div>
      </div>
    </div>
    <div class="clearfix"> </div>
  </div>
</script>

<script id="image-template" type="text/template">
<div class="imageblock" >
  <div class="btn-group">
    <a href="#images" class="btn btn-small" id="image-tab-btn" data-layer-id="{{ layer.get('id') }}"><i class="icon-edit"></i>  Edit</button>
    <a href="/design/{{ design_id }}/download-image/{{ layer.get('id') }}" class="btn btn-small download-btn"><i class="icon-download-alt"></i> Download</a>
  </div>
  <div class="image-thumb">
    <div style="background-image: url('{{image_src}}');" class="preview-thumbnail"></div>
  </div>
</div>
</script>

<script id="crop-view-template" type="text/template">
<div id="crop-modal" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Cropping {{ image_name }}</h3>
  </div>
  <div class="modal-body">
    <div id="crop-image-container">
      <img src="{{ image_src }}" id="crop-image" />
    </div>
    <div id="crop-loading">
      Cropping..
    </div>
    <input type="hidden" id="crop-x" name="crop-x">
    <input type="hidden" id="crop-y" name="crop-y">
    <input type="hidden" id="crop-w" name="crop-w">
    <input type="hidden" id="crop-h" name="crop-h">
    <input type="hidden" id="crop-layer-id" name="crop-layer-id" value="{{ layer_id }}">

  </div>
  <div class="modal-footer">
    <a href="#" id="reset-to-original" class="btn">Reset to Original</a>
    <a href="#" id="crop-save" class="btn btn-primary">Crop & Save </a>
    <a href="#" id="crop-done" data-dismiss="modal" class="btn btn-info">Done</a>
  </div>
</div>
</script>

<script id="images-view-template" type="text/template">
<div id="images">
<div class="images-topbar"> 
  <a href="/design/<%= @design.safe_name %>/download" class="btn btn-success"> Download all Images </a> 
</div>
<div class="row images-grid">
  <%= form_tag "/design/#{@design.safe_name}/images", :method => "post" %>
    <% if not @design.json_data[:sif].nil? and @design.photoshop_status == Design::STATUS_PROCESSING_DONE %>
      <% @design.layers.each do |uid, layer| %>
        <% if layer.type == Layer::LAYER_NORMAL %>
        <div class="span3 imageblock" data-layer="<%= layer.uid %>">
          <div class="imageblock-inner">
            <div class="image-thumb">
              <div style="background-image: url('/extracted/<%= @design.safe_name %>/images/<%= layer.image_name %>');" class="preview-thumbnail">
              </div>
            </div>

            <div class="image-name">
              <a href="#" id="imagename-<%= layer.uid %>" class="image-name-editable" data-type="text" data-pk="<%= layer.uid %>" data-name="<%= layer.uid %>" data-url="/design/<%= @design.safe_name %>/image-rename" data-original-title="Enter image name"><%= layer.image_name %></a>
            </div>
          </div>

          <div class="controls">
            <div class="btn-group image-controls">
              <button class="btn btn-small rename-btn"><i class="icon-pencil"></i>  Rename</button>
              <a href="/design/<%= @design.safe_name %>/download-image/<%= layer.uid %>" class="btn btn-small download-btn"><i class="icon-download-alt"></i> Download</a>
              <button class="btn btn-small crop-btn"><img src="/assets/crop-black.png"></i> Crop</button>
            </div>
          </div>

        </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div class="clearfix"></div>
</div>
</script>

<script id="fonts-view-template" type="text/template">
fonts
</script>

<script id="editor-template" type="text/template">
  <div class="canvas-area">
    <canvas id="design-canvas"></canvas>
    <canvas id="animate-canvas" style="pointer-events: none;"></canvas>
    <canvas id="events-canvas" style="pointer-events: none;"></canvas>
  </div>
  <div class="clearfix"></div>
</script>

<script id="grouping-left-sidebar-template" type="text/template">
  <div id="grouping-tree"></div>
</script>

<script id="grouping-top-bar-template" type="text/template">
  <div id="group-layers" class="btn btn-primary disabled"> Group these layers </div>
</script>

<script id="grouping-context-area-template" type="text/template">
  <a id="done" class="btn btn-small btn-primary"> Done </a>
  <a id="cancel" class="btn btn-small"> Cancel </a>
</script>

<!-- Intersections Templates -->
<script id="no-intersections" type="text/template">
<div id="intersections-sidebar">
  <h1> Resolve Intersections </h1>
  No intersections available
</div>
</script>

<script id="intersections-sidebar" type="text/template">
<div id="intersections-sidebar">

  <h1> Resolve Intersections </h1>
<div id="intersections-list">
</div>
</div>
</script>
<script id="intersection-item" type="text/template">
  <div class="intersection-item" data-cid="{{ cid }}" data-left-uid="{{ left_uid }}" data-right-uid="{{ right_uid }}" data-right-name="{{ right_layer }}" data-left-name="{{ left_layer }}">
  <div class="top-head-item">{{ left_layer }} ∩ {{ right_layer }}</div>
  <div class="actions">
    <a href="#" class="remove-panel-btn" alt="Remove layer" title="Remove layer"><%= image_tag("remove-small.png") %></a>
    <a href="#" class="crop-panel-btn" alt="Crop layers" title="Crop layers"><%= image_tag("crop-small.png") %></a>
    <a href="#" class="merge-panel-btn" alt="Merge both layers" title="Merge both layers"><%= image_tag("merge-small.png") %></a>
    <a href="#" class="visibility-panel-btn" alt="Toggle layer visibility" title="Toggle layer visibility"><%= image_tag("visibility-small.png") %></a>
  </div>
  <div class="action-panel">
  </div>
</script>

<script id="delete-panel" type="text/template">
  <table>
    <tr data-layer-uid="{{ left_uid }}"> <td class="select-layer">{{ left_layer }}</td> <td><%= image_tag("remove-small.png", {:width => 10, :class => "delete-btn"}) %></td></tr>
    <tr data-layer-uid="{{ right_uid }}"><td class="select-layer">{{ right_layer }}</td><td><%= image_tag("remove-small.png", {:width => 10, :class => "delete-btn"}) %></td></tr>
  </table>
</script>

<script id="visibility-panel" type="text/template">
  <table>
    <tr data-layer-uid="{{ left_uid }}"> <td class="select-layer">{{ left_layer }}</td> <td><%= image_tag("visibility-small.png", {:width => 10, :class => "visibility-btn"}) %></td></tr>
    <tr data-layer-uid="{{ right_uid }}"><td class="select-layer">{{ right_layer }}</td><td><%= image_tag("visibility-small.png", {:width => 10, :class => "visibility-btn"}) %></td></tr>
  </table>
</script>

<script id="crop-panel" type="text/template">
  Intersection type is <code>{{ type }}</code> 
  <div><div class="btn btn-small crop-btn">Crop</div></div>
</script>

<script id="merge-panel" type="text/template">
  Intersection type is <code>{{ type }}</code>. 
  <div><div class="btn btn-small merge-btn">Merge</div></div>
</script>

<script id="merge-not-possible" type="text/template">
  Merge is possible only when both layers are <code>NORMAL</code> layers.
</script>