<script id="layers-view-template" type="text/template">
  <div id="topbar">
    <div class="design-name pull-right">
      Design: <%= @design.name %>
    </div>
    <ul class="nav nav-tabs">
      <li class="active"><a href="#layers"> CSS Styles</a></li>
      <li><a href="#images">Images</a></li>
      <li><a href="#typography">Fonts</a></li>
    </ul>
    <div class="clearfix"></div>
  </div>

  <div id="content">
    
    <div id="editor"></div>
    
    <div id="sidebar">
      <div class="sidebar">
        <div class="code-area">
          <ul class="nav nav-pills">
            <li class="active"> <a href=""> SCSS </a></li>
            <li> <a href=""> CSS </a></li>
            <li class="pull-right"> 
              <a id="copy-to-clipboard" class="btn btn-mini" href="#"> 
                <i class="icon-clipboard"> </i>Copy to clipboard 
              </a>
            </li>
          </ul>
          <textarea></textarea>
        </div>
      </div>
    </div>

    <div class="clearfix"> </div>
  </div>
</script>

<script id="editor-template" type="text/template">
  <div class="canvas-area" style="height: <%= @height %>px">
    <canvas id="design-canvas" height="<%= @height %>" width="<%= @width %>"></canvas>
    <canvas id="animate-canvas" height="<%= @height %>" width="<%= @width %>" style="pointer-events: none;"></canvas>
    <canvas id="events-canvas" height="<%= @height %>" width="<%= @width %>" style="pointer-events: none;"></canvas>
  </div>
</script>

<script id="grouping-left-sidebar-template" type="text/template">
  <div id="grouping-tree"></div>
</script>

<script id="grouping-top-bar-template" type="text/template">
  <div id="group-layers" class="btn btn-primary disabled"> Group these layers </div>
</script>

<script id="grouping-context-area-template" type="text/template">
  <a id="done" class="btn btn-small btn-primary"> Done </a>
  <a id="cancel" class="btn btn-small"> Cancel </a>
</script>

<!-- Intersections Templates -->
<script id="no-intersections" type="text/template">
<div id="intersections-sidebar">
  <h1> Resolve Intersections </h1>
  No intersections available
</div>
</script>

<script id="intersections-sidebar" type="text/template">
<div id="intersections-sidebar">

  <h1> Resolve Intersections </h1>
<div id="intersections-list">
</div>
</div>
</script>
<script id="intersection-item" type="text/template">
  <div class="intersection-item" data-cid="{{ cid }}" data-left-uid="{{ left_uid }}" data-right-uid="{{ right_uid }}" data-right-name="{{ right_layer }}" data-left-name="{{ left_layer }}">
  <div class="top-head-item">{{ left_layer }} ∩ {{ right_layer }}</div>
  <div class="actions">
    <a href="#" class="remove-panel-btn" alt="Remove layer" title="Remove layer"><%= image_tag("remove-small.png") %></a>
    <a href="#" class="crop-panel-btn" alt="Crop layers" title="Crop layers"><%= image_tag("crop-small.png") %></a>
    <a href="#" class="merge-panel-btn" alt="Merge both layers" title="Merge both layers"><%= image_tag("merge-small.png") %></a>
    <a href="#" class="visibility-panel-btn" alt="Toggle layer visibility" title="Toggle layer visibility"><%= image_tag("visibility-small.png") %></a>
  </div>
  <div class="action-panel">
  </div>
</script>

<script id="delete-panel" type="text/template">
  <table>
    <tr data-layer-uid="{{ left_uid }}"> <td class="select-layer">{{ left_layer }}</td> <td><%= image_tag("remove-small.png", {:width => 10, :class => "delete-btn"}) %></td></tr>
    <tr data-layer-uid="{{ right_uid }}"><td class="select-layer">{{ right_layer }}</td><td><%= image_tag("remove-small.png", {:width => 10, :class => "delete-btn"}) %></td></tr>
  </table>
</script>

<script id="visibility-panel" type="text/template">
  <table>
    <tr data-layer-uid="{{ left_uid }}"> <td class="select-layer">{{ left_layer }}</td> <td><%= image_tag("visibility-small.png", {:width => 10, :class => "visibility-btn"}) %></td></tr>
    <tr data-layer-uid="{{ right_uid }}"><td class="select-layer">{{ right_layer }}</td><td><%= image_tag("visibility-small.png", {:width => 10, :class => "visibility-btn"}) %></td></tr>
  </table>
</script>

<script id="crop-panel" type="text/template">
  Intersection type is <code>{{ type }}</code> 
  <div><div class="btn btn-small crop-btn">Crop</div></div>
</script>

<script id="merge-panel" type="text/template">
  Intersection type is <code>{{ type }}</code>. 
  <div><div class="btn btn-small merge-btn">Merge</div></div>
</script>

<script id="merge-not-possible" type="text/template">
  Merge is possible only when both layers are <code>NORMAL</code> layers.
</script>