<%= content_for :content do %>

<%= stylesheet_link_tag "landing_page", :media => "all" %>
<div id="landing-page">
  <div class="container homepage-box">
    <img src="/assets/logo.png">

  <div class="email-response">
  <% if @email.nil? %>
      <div>You seem to be new here!  <p><a href="/" style="text-decoration: underline;">Leave you email</a> to be notified when we launch.</p></div>
  <% else %>
    <div>We'll send you an invite soon!</div>
  <% end %>
  
    Meanwhile, let your friends know what you just found
  </div>
  
  <div class="viral container">
    <div class="viral-inner">
      <%= render 'shared/snippets/gplusone' %>
      <%= render 'shared/snippets/tweet' %>
      <%= render 'shared/snippets/fbshare' %>
    </div>
  </div>
  
  </div>

  
  
</div>
<% end %>