<%= content_for :content do %>

<%= stylesheet_link_tag "landing_page", :media => "all" %>
<div id="landing-page">
  <div class="container">
    <center>
      <img src="assets/logo.png" /><br>
    <% if @email.nil? %>
        <h1 style="color: #0E7E24">You seem to be new here!<br/> <a href="/" style="text-decoration: underline;">Leave you email</a> to be notified when we launch.</h1>
    <% else %>
      <h1 style="color: #0E7E24">We'll send you an invite soon!</h1>
    <% end %>
    </center>
    <center class="content-area">
      <h3 style="color: white;">
        Meanwhile, let your friends know what you just found
      </h3><br/>
      <div>
        <%= render 'shared/snippets/gplusone' %>
        <%= render 'shared/snippets/tweet' %>
        <%= render 'shared/snippets/fbshare' %>
      <div>
    </center>
  </div>
</div>
<% end %>