<%= content_for :content do %>

<div id="landing-page">
  <div id="beta-ribbon"></div>

  <div class="container homepage-box">
    <%= image_tag "logo.png" %>

    <div class="statement">
      Magically convert your photoshop files to HTML <span class="ampersand">&</span> CSS.
    </div>


    <div class="features-block">
      <div class="span6 features"> 
        <ul>
          <li class="first">Get clean code in minutes</li>
          <li>No absolute positioning, no website-as-images.</li>
          <li>Minimal, maintainable markup</li>
          <li>Uses Compass+SASS for maintainable CSS</li>
        </ul>
      </div>
      <div class="span3 try-block">
        <a href="/designs?fv=1" class="start-using-button">Try now</a>
        <em> We use Google Authentication for notifying you about your uploads. Don't worry, We won't spam you! </em>
      </div>
    </div>
  </div>
  

  <div class="viral container">
    <div class="viral-inner">
      <%= render 'shared/snippets/gplusone' %>
      <%= render 'shared/snippets/tweet' %>
      <%= render 'shared/snippets/fbshare' %>
    </div>
  </div>
</div>

<%= content_for :javascript do %>
<script>
$(document).ready(function() {
validateEmail = function(email) {
  var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
  if(emailReg.test(email))
    return true;
  else
    return false;
  };
  
$(".default-value").formDefaults();
$("#getinvite").submit(function(e) {
  var valid = validateEmail($("#invite-email").val())
  if(valid) {
    return true;
  }
  else {
    e.preventDefault();
    $("#validation-result").text("Enter a valid E-mail address")
    return false;
  }
  });
});
</script>
<%= render 'shared/luckyorange' %>
<%= render 'shared/olark' %>
<% end %>
<% end %>