<%= content_for :content do %>

<%= render 'shared/inner_header' %>

<div class="container center">
<h2> Pricing </h2>
</div>

<div id="pricing" class="colored">
  
  <div class="plan">
    <div class="name" class="img-circle crop"> Started </div>
    <div class="price"> <span class="value"> Free </span></div>
    <div class="limit"> 2 designs per month</div>
    <a href="/signup" class="btn btn-large btn-success"> Signup for FREE </a> 
    <div><small><i> No credit card required </small></i></div>
  </div>
  
  <div id="popular" class="plan">
    <div class="name"> Regular </div>
    <div class="price"> <span class="value">$15</span>/month</div>
    <div class="limit"> 15 designs per month </span> </div>
    <a href="/login" id="sedan" class="btn btn-large btn-success"> FREE for 30 days </a>
  </div>
  
  <div class="plan">
    <div class="name"> Plus </div>
    <div class="price"> <span class="value">$20</span>/month </div>
    <div class="limit"> Unlimited usage </div>
    <a href="/login" id="suv" class="btn btn-large btn-success"> FREE for 30 days</a>
  </div>
  <div class="clearfix"></div>
</div>

<div class="container"> 
  <div style="text-align: center">
    <p> We won't charge your credit card without confirming with you!</p>
    <p> Don't feel the pricing is right? Missing a feature? <a href="mailto:suren@markupwand.com?Subject=Pricing for css:markupwand">
    Talk to us! </a></p>
  </div>  
</div>
<% end %>


<%= content_for :javascript do %>
  <% if @user %>
    <%= javascript_tag "var STRIPE_PUBLISH_TOKEN = '#{Constants::STRIPE_PUBLISH_TOKEN}';" %>
    <%= javascript_include_tag "https://checkout.stripe.com/v2/checkout.js" %>
    <%= javascript_include_tag "app/pricing" %>
  <% end %>
<% end %>