<%= content_for :content do %>
  <%= render 'shared/header' %>
  <%= stylesheet_link_tag "app/login", :media => "all" %>
  <div class="container login-area">
    <div class="section-heading">
      Log In
    </div>
    <div class="main-form">
      <%= render 'devise/shared/signin' %>
    </div>
    <div class="alt-separator">OR</div>
    <div class="secondary-form">
      <%= render 'devise/shared/google_connect' %>
    </div>
    <a href="/signup">Don't have an account yet?</a>
  </div>
<% end %>