<div class="container login-area">
  <% if @signup_enabled %>
    <div class="center">
      <div class="section-heading">Login / Signup</div>
      <%= render 'login/widgets/google_login' %>
      <div>We won't spam you. We take your email address to notify you once the conversion is done</div>
      <%= link_to "[+] Don't have a Google account?", '#', :id => 'alt-login-toggle'  %>
    </div>
    <div id="alt-login-block" class="hide">
      <%= render 'login/widgets/signin_signup.html.erb' %>
    </div>
  <% else %>
    <div class="col2 center">
      <div class="section-heading">Need an account?</div>
      <div>We are currently in private beta.</div>
      <div style="font-weight: bold">
        Leave your email to get an invite!
      </div>
      <%= render 'login/widgets/request_invite' %>
    </div>
    <div class="col1 center">
      <div class="section-heading">Already have an account?</div>
      <%= render 'login/widgets/google_login' %>
      <%= link_to "[+] Don't have a Google account?", '#', :id => 'alt-login-toggle' %>
      <div id="alt-login-block" class="hide">
        <%= render 'login/widgets/normal_login' %>
      </div>
    </div>
  <% end %>
</div>

<script type="text/javascript">
  $("#alt-login-toggle").click(function(){
     $("#alt-login-toggle").hide();
     $("#alt-login-block").toggle();
  });
</script>