  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
    <% if flash.to_a.length > 0 %>
      <div class="alert alert-danger auth-alerts">
        <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
        <% end %>
      </div>
    <% end %>

    <div>
      <%= f.label :name, :class => 'left right-align' %>
      <%= f.text_field :name, :class => 'left left-align' %>
      <div class="clearfix"></div>
    </div>

    <div>
      <%= f.label :email, :class => 'left right-align' %>
      <%= f.email_field :email, :class => 'left left-align' %>
      <div class="clearfix"></div>
    </div>

    <div>
      <%= f.label :password, :class => 'left right-align' %>
      <%= f.password_field :password, :class => 'left left-align' %>
      <div class="clearfix"></div>
    </div>

    <div>
      <%= f.label :password_confirmation, :class => 'left right-align' %>
      <%= f.password_field :password_confirmation, :class => 'left left-align' %>
      <div class="clearfix"></div>
    </div>

    <div><%= f.submit "Create account", :class => 'action-button' %></div>
  <% end %>
