<!DOCTYPE html>
<html>
<head>
  <title>Markupwand | Magically convert Photoshop designs to valid HTML markup</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Ubuntu|Ubuntu+Condensed|Average|Asap:400,400italic,700,700italic" %>

  <%= yield :css %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield :javascript %>
  <link rel="shortcut icon" href="/favicon.ico"/>
</head>
<body onload="prettyPrint()">

<% if not Rails.env.production? %>
  <%= render 'shared/env' %>
<% end %>

<% if current_user and current_user.admin? %>
    <%= yield :admin_content %>
<% end %>

<%= yield :content %>

<%= render 'shared/luckyorange' %>
<%= render 'shared/google_analytics' %>
</body>
</html>
