<!DOCTYPE html>
<html>
<head>
  <%= raw analytical.head_prepend_javascript %>
  <title>Markupwand | Magically convert Photoshop designs to valid HTML markup</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= yield :css %>
  <%= raw analytical.head_append_javascript %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="//use.typekit.net/ssc7nzy.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  
  <%= yield :javascript %>
  <% if @pretty_print %>
  <%= stylesheet_link_tag "lib/prettify", :media => "all" %>
  <%= javascript_include_tag "lib/prettify" %>
  <% end %>
  <meta name="description" content="Convert your Photoshop designs to clean and maintainable HTML and CSS"/>
  <meta name="keywords" content="photoshop,design,psd to html,psd2html,psd,html,css"/>
  <link rel="shortcut icon" href="/favicon.ico"/>
  <% analytical.identify(current_user.email, :email=>current_user.email) if current_user %>
</head>
<% if @pretty_print %>
<body onload="prettyPrint()">
<% else %>
<body>
<% end %>
<div class="wrapper">
  <%= raw analytical.body_prepend_javascript %>

  <% if not Rails.env.production? %>
    <%= render 'shared/env' %>
  <% end %>

  <% if current_user and current_user.admin? %>
      <%= yield :admin_content %>
  <% end %>

  <%= yield :content %>
  <div class="push"></div>
</div>

<%= render 'shared/footer' %>
<%= raw analytical.body_append_javascript %>
</body>
</html>
