<!DOCTYPE html>
<html>
<head>
  <title>HTMLBox</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= yield :css %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield :javascript %>
</head>
<body>
<%= yield :content %>


</body>
</html>
