<!DOCTYPE html>
<html>
<head>
  <title>Markupwand | Magically convert Photoshop designs to valid HTML markup</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Dancing+Script" %>
  <%= yield :css %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield :javascript %>
  <link rel="shortcut icon" href="/favicon.ico" />
</head>
<body>
<%= yield :content %>


</body>
</html>
