<!DOCTYPE html>
<html lang="en">
  <head>
    <% if not Rails.env.development? %><%= raw analytical.head_prepend_javascript %><% end %>
    <meta charset="utf-8">
    <title>css:markupwand | Convert Photoshop to CSS3</title>
    <meta name="description" content="Convert your Photoshop designs to clean and maintainable HTML and CSS"/>
    <meta name="keywords" content="photoshop,design,psd to html,psd2html,psd,html,css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <script type="text/javascript" src="//use.typekit.net/eqq0eqs.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <%= stylesheet_link_tag "design", :media => "all" %>
    <%= yield :css %>
    <link rel="shortcut icon" href="/favicon.ico">
    <% if not Rails.env.development? %><%= raw analytical.head_append_javascript %><% end %>
  </head>

  <body>
    <% if not Rails.env.development? %><%= raw analytical.body_prepend_javascript %><% end %>
    <!-- Part 1: Wrap all page content here -->
    <div id="wrap">
      <%= yield :content %>
      <div id="push"></div>
    </div>

    <div id="footer">
      <div class="container-narrow">
        <div class="right">
          <ul class="nav nav-pills">
            <li> <a href="/"> Home</a></li> 
            <li> <a href="/about"> About us</a></li>
            <li> <a href="http://www.twitter.com/markupwand">Twitter</a> </li>
            <li> <a href="http://www.facebook.com/markupwand">Facebook</a></li>
          </ul>
        </div>
        <div class="left copyright">
          © A Goyaka Labs product, 2013 &nbsp; &nbsp; 
        </div>
      </div>  
    </div>
    <% if not Rails.env.development? %><%= raw analytical.body_append_javascript %><% end %>
  </body>
  <%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>
  <%= javascript_include_tag "application" %>
  <%= yield :javascript %>
  <% analytical.identify(current_user.id, :email=>current_user.email) if current_user %>
  <% if not Rails.env.development? %>
    <script type="text/javascript">
    window.ausr = {}
    <% if @current_user %>
      window.ausr.user    = "<%= @current_user.name %>";
      window.ausr.email   = "<%= @current_user.email %>";
    <% end %>
    window.ausr.product = "css.mw";
    </script>
    <%= javascript_include_tag "//acuteuser.herokuapp.com/assets/acuteuser.js?v=1" %>
  <% end %>
</html>
